<shared-messages-items></shared-messages-items>
<ng-template #loading>
  <my-progress-spinner></my-progress-spinner>
</ng-template>

<div class="grid">
  <div class="col">
    <div class="flex justify-content-center flex-wrap card-container">
      <div class="flex align-items-center justify-content-center w-8">
        <p-card class="w-full">

          <div class="flex">
            <div class="flex-initial flex align-items-center justify-content-center m-1">
              <a
                pButton
                pRipple
                type="button"
                label="Личная информация"
                icon="pi pi-id-card"
                class="a-not-underline p-button-outlined p-button-info"
                [routerLink]="['/', 'profile']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact : true}"
              ></a>
            </div>
            <div class="flex-initial flex align-items-center justify-content-center m-1">
              <a
                pButton
                pRipple
                type="button"
                class="a-not-underline p-button-outlined p-button-info"
                [routerLink]="['/', 'profile', 'orders']"
                label="Мои заказы"
                icon="pi pi-book"
                routerLinkActive="active"
              ></a>
            </div>
          </div>



          <p-divider></p-divider>

          <router-outlet></router-outlet>

        </p-card>
      </div>
    </div>
  </div>
</div>
