<ng-template #loading>
  <my-progress-spinner></my-progress-spinner>
</ng-template>

<div class="float-cost">
  <app-total-site-host [totalCost]="totalCost">
  </app-total-site-host>
</div>

<div class="flex justify-content-center flex-wrap card-container">
  <div class="flex align-items-center justify-content-center w-2">
    <img src="../../../assets/imgs/pedanto_calc.png.svg" class="border-circle">
  </div>

  <div class="flex align-items-center justify-content-center w-auto font-bold w-4 text-lg">
    Добро пожаловать на страницу калькулятора стоимости сайта. Здесь Вы можете рассчитать стоимость создания сайта онлайн. Наш калькулятор полностью интерактивен и Вы можете добавлять и исключать нужные компоненты формируя тем самым свой уникальный сайт. Смотрите видео как пользоваться калькулятором, чтобы узнать все особенности расчета стоимости сайта.
  </div>
</div>

<div *ngIf="(siteTypes$ | async) as siteTypes; else loading">

  <div class="grid">
    <div class="col">
      <div class="flex justify-content-center flex-wrap card-container">
        <div class="flex align-items-center justify-content-center w-8">
          <my-list-box-with-my-cards
              [title]="textInfo[0].title"
              [subTitle]="textInfo[0].subTitle"
              [options]="siteTypes"
              [widthPercent]="100"
              [multipleSelect]="false"
              (changeSingleSelectedItem)="changeTotalCost(0, $event)"
            ></my-list-box-with-my-cards>
        </div>
      </div>
    </div>
  </div>

  <div class="grid" *ngIf="(siteModules$ | async) as siteModules; else loading">
    <div class="col">
      <div class="flex justify-content-center flex-wrap card-container">
        <div class="flex align-items-center justify-content-center w-8">
          <my-list-box-with-my-cards
              [title]="textInfo[1].title"
              [subTitle]="textInfo[1].subTitle"
              [options]="siteModules"
              [widthPercent]="100"
              [multipleSelect]="true"
              (changeMuiltiSelectedItems)="changeTotalCost(1, $event)"
            ></my-list-box-with-my-cards>
        </div>
      </div>
    </div>
  </div>

  <div class="grid" *ngIf="(siteDesigns$ | async) as siteDesigns; else loading">
    <div class="col">
      <div class="flex justify-content-center flex-wrap card-container">
        <div class="flex align-items-center justify-content-center w-8">
          <my-list-box-with-my-cards
              [title]="textInfo[2].title"
              [subTitle]="textInfo[2].subTitle"
              [options]="siteDesigns"
              [widthPercent]="100"
              [multipleSelect]="false"
              (changeSingleSelectedItem)="changeTotalCost(2, $event)"
            ></my-list-box-with-my-cards>
        </div>
      </div>
    </div>
  </div>

  <div class="grid" *ngIf="(optionalDesigns$ | async) as optionalDesigns; else loading">
    <div class="col">
      <div class="flex justify-content-center flex-wrap card-container">
        <div class="flex align-items-center justify-content-center w-8">
          <my-list-box-with-my-cards
              [title]="textInfo[3].title"
              [subTitle]="textInfo[3].subTitle"
              [options]="optionalDesigns"
              [widthPercent]="100"
              [multipleSelect]="true"
              (changeMuiltiSelectedItems)="changeTotalCost(3, $event)"
            ></my-list-box-with-my-cards>
        </div>
      </div>
    </div>
  </div>

  <div class="grid" *ngIf="(siteSupports$ | async) as siteSupports; else loading">
    <div class="col">
      <div class="flex justify-content-center flex-wrap card-container">
        <div class="flex align-items-center justify-content-center w-8">
          <my-list-box-with-my-cards
              [title]="textInfo[4].title"
              [subTitle]="textInfo[4].subTitle"
              [options]="siteSupports"
              [widthPercent]="100"
              [multipleSelect]="true"
              (changeMuiltiSelectedItems)="changeTotalCost(4, $event)"
            ></my-list-box-with-my-cards>
        </div>
      </div>
    </div>
  </div>

  <div class="grid" *ngIf="(devTimeline$ | async) as devTimeline; else loading">
    <div class="col">
      <div class="flex justify-content-center flex-wrap card-container">
        <div class="flex align-items-center justify-content-center w-8">
          <p-card header="Сроки разработки" class="w-full">

            <div class="card">
              <div class="flex justify-content-start pl-4 flex-wrap card-container">
                <div *ngFor="let item of devTimeline" class="field-checkbox w-8">
                  <p-radioButton
                    [inputId]="item.id.toString()"
                    name="name"
                    [value]="item"
                    [label]="item.name"
                    [(ngModel)]="dataForm.developmentTimeline"
                    (onClick)="onChangeRadioBtn()"
                  ></p-radioButton>
                  <label [for]="item.id">(Коэффициент увеличения цены - {{ item.multiplicationFactor.toFixed(1) }})</label>
                </div>
              </div>
            </div>

          </p-card>
        </div>
      </div>
    </div>
  </div>

  <div class="grid" *ngIf="(devTimeline$ | async) as devTimeline; else loading">
    <div class="col">
      <div class="flex justify-content-center flex-wrap card-container">
        <div class="flex align-items-center justify-content-center w-8">
          <p-card header="Комментарий" class="w-full">

            <textarea class="w-full" [rows]="7" pInputTextarea [(ngModel)]="dataForm.comment"></textarea>

          </p-card>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="col">
      <div class="flex justify-content-center flex-wrap card-container">
        <div class="flex align-items-center justify-content-center w-8">

          <p-card class="w-full">
            <p-divider align="center">
              <button
                pButton
                pRipple
                type="button"
                label="Получить предложение"
                class="p-button-raised p-button-info"
                icon="pi pi-shopping-bag"
              ></button>
            </p-divider>
          </p-card>

        </div>
      </div>
    </div>
  </div>

</div>
