<ng-template #loading>
  <my-progress-spinner></my-progress-spinner>
</ng-template>

<div *ngIf="(refBook$ | async) as refBook">
  <div class="field grid">
    <div class="col">
      <my-list-box-with-my-cards
        [title]="textInfo[0].title"
        [subTitle]="textInfo[0].subTitle"
        [options]="refBook.siteType"
        [widthPercent]="40"
        [multipleSelect]="true"
        (changeSingleSelectedItem)="onLog($event)"
        (changeMuiltiSelectedItems)="onLog($event)"
      ></my-list-box-with-my-cards>
    </div>
  </div>
</div>
